{% extends "socialapp/base.html" %}
{% block content %}
    <div>{% if messages %}

        {% for message in messages %}
            <div{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message|safe }}</div>
        {% endfor %}

    {% endif %}</div>
    <div>
    <a href="/profile/{{ user_id }}">Profile geri dön</a>
    </div>
    {% if no_photo %}
        Başka fotoğraf yok
    {% else %}
    <div style="text-align: center;">
        {% if next_photo > photo_count or next_photo < 1 %}
            <a href="/photos/{{ user_id }}/{{ 1 }}"><img src="{{ MEDIA_URL }}{{ photo.file_name.name }}"/></a>
        {% else %}
            <a href="/photos/{{ user_id }}/{{ next_photo }}"><img src="{{ MEDIA_URL }}{{ photo.file_name.name }}"/></a>
        {% endif %}
        {% if is_owner %}
            <br />
            <a href="/remove_photo/{{ photo.pk }}" class="btn btn-default">Sil</a>
            <a href="/set_profile_picture/{{ photo.pk }}" class="btn btn-default">Profil Fotosu Yap</a>
        {% endif %}
    </div>
    {% endif %}
{% endblock content %}